__pycache__
/*.egg-info
/.venv
/.vscode
/benchmarks/*.log
/benchmarks/benchmarks_time.txt
/benchmarks/data
/benchmarks/results/*
!/benchmarks/results/.gitkeep
/benchmarks/website/*
!/benchmarks/website/.gitkeep
/build
/cmakeBuild
/data
/dist
