__pycache__
/.venv
/.vscode
/src/benchmarks/*.log
/src/benchmarks/data
/src/benchmarks/results
/src/cmakeBuild
/src/data
/src/figures
/src/index/build
/src/index/chm_hnsw.egg-info
/src/index/CMakeLists.txt
/src/index/dist
/src/index/LICENSE
/src/index/tmp
/src/scripts/benchmarks_time.txt
/src/website
